* {
  padding: 0px;
  margin: 0px
}
body {
    font-family: Roboto;
    background-color: #ECE0DC;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-image: url("./images/pexels-elviss-railijs-bitÄns-1389429.jpg");
    
}
header {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
header > div {
  background-color: rgba(255, 255, 255, 0.50);
  height: 75%;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}
h1 {
    color: #2D2D2D;
    opacity: 100%;
}

a {
    font-size: 24pt;
    text-decoration: none;
    color: #2D2D2D;
}
button {
    height: 100px;
    width: 250px;
    background-color: rgba(255, 255, 255, 0.50);
    border: none;
    border-radius: 5px;
    margin: 15px;
    box-shadow: 1px black;
}
button:hover {
    background-color: #ebded9;
}
#all-btns {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sound-holder1 {
    width: 180px;
    height: 220px;
    position: relative;
    bottom: 200px;
    left: 7px;
    -webkit-transform: translateZ(0);
    transform: rotate(-90deg);
 }
 #sound-holder2 {
    width: 180px;
    height: 220px;
    position: relative;
    left: 1715px;
    bottom: 284px;
    -webkit-transform: translateZ(0);
    transform: rotate(90deg);
 }

.bg {
  background: url(http://boutique.flarework.com/wp-content/themes/boutique/img/logo_large.png) center 0px no-repeat ;
    background-size: contain;
    -webkit-filter: drop-shadow(0px 6px 25px rgba(0,0,0,0.5));
}

.bar {
    position: relative;
    height: 8px;
    background: #6a6a6a;
    width:  0%;
    top: 0px;
    left: 18px;
    margin-top: 8px;
    animation: fill 5s infinite alternate, colors 5s infinite alternate;
}


.bar.fill1 {
  animation: fill-1 5s infinite alternate, colors 5s infinite alternate;
}

.bar.fill2 {
   animation:  fill-2 5s infinite alternate, colors 5s infinite alternate;
}


.bar.fill3 {
   animation:  fill-3 5s infinite alternate, colors 5s infinite alternate;
}

.bar.fill4 {
   animation:  fill-4 5s infinite alternate, colors 5s infinite alternate;
}

.bar.fill5 {
   animation:  fill-5 5s infinite alternate, colors 5s infinite alternate;
}

.bar.fill6 {
   animation:  fill-6 5s infinite alternate, colors 5s infinite alternate;
}

@keyframes fill {
  0%   { width: 0; }
  33%  { width: 30px;}
  66%  { width: 10px;}
  100% { width: 105px; }
}

@keyframes fill-1 {
  0%   { width: 0; }
  33%  { width: 50px;}
  66%  { width: 20px;}
  100% { width: 130px; }
}

@keyframes fill-2 {
  0%   { width: 0; }
  33%  { width: 90px;}
  66%  { width: 70px;}
  100% { width: 136px; }
}

@keyframes fill-3 {
  0%   { width: 0; }
  33%  { width: 50px;}
  66%  { width: 24px;}
  100% { width: 109px; }
}

@keyframes fill-4 {
  0%   { width: 0; }
  33%  { width: 98px;}
  66%  { width: 34px;}
  100% { width: 99px; }
}

@keyframes fill-5 {
  0%   { width: 0; }
  33%  { width: 30px;}
  66%  { width: 10px;}
  100% { width: 148px; }
}

@keyframes fill-6 {
  0%   { width: 0; }
  33%  { width: 48px;}
  66%  { width: 22px;}
  100% { width: 140px; }
}

@keyframes colors {
    0% { 
        background-color: #ffffff;
        opacity: 50%;
    }
    50% { 
      background-color: #ffffff;
      opacity: 50%;
    }
    100% { 
      background-color: #ffffff;
      opacity: 50%;
    }
}